#brunchSnippet {
  max-width: 600px;
  padding: 16px;
}
#brunchSnippet h4 {
  color: #5b21b6;
  font-size: 20px;
  font-weight: bold;
}
#brunchSnippet .header {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
#brunchSnippet .header button {
  background: none;
  border: none;
  color: lightgray;
  padding: 0 10px;
  font-size: 10px;
  margin-left: 20px;
}
#brunchSnippet .buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#brunchSnippet .buttons a {
  background: #ddd6fe;
  padding: 8px 16px;
  color: #5b21b6;
  border: none;
  border-radius: 4px;
  margin-bottom: 12px;
  font-size: 16px;
}
#brunchSnippet .brunchLogo {
  margin-top: 16px;
  margin-left: 5px;
}
